surrealdb
python-dotenv
openai

markitdown
python-docx
openpyxl
python-pptx
PyMuPDF
pillow

boto3

pydantic-settings
PyYAML
fastapi[standard]
uvicorn
jinja2

structlog
pytest
pytest-asyncio
httpx

kreuzberg

huey>=2.4.0
